language: php
php:
  - '7.0'
install:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev --no-interaction

before_script:
  - wget http://getcomposer.org/composer.phar
  - php composer.phar install

script:
  - phpunit
  - mkdir -p build/logs
  - php vendor/bin/phpunit -c phpunit.xml

  
after_success:
- travis_retry php vendor/bin/coveralls
  
notifications:
  email: false
